version: "3.9"

services:
  zookeeper:
    image: docker.io/bitnami/zookeeper:3.8
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

    healthcheck:
      test: [ "CMD", "bash", "-c", "unset" , "JMX_PORT" ,";" ,"kafka-topics.sh","--zookeeper","zookeeper:2181","--list" ]

  kafka:
    image: docker.io/bitnami/kafka:3.3
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server 127.0.0.1:9092 --topic metaavents --describe"]
      interval: 2s
      timeout: 2s
      retries: 15

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8092:8080"
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092

    healthcheck:
      test: ["CMD", "nc", "-vz", "localhost", "8080"]


  dekanat:
    build:
      context: ./dekanat/
      dockerfile: ./Dockerfile
    container_name: dekanat
    ports:
      - "3050:3050"
    restart: always
    environment:
      ISC_PASSWORD: 3kWA9f5ah7
      TZ: Europe/Kyiv
    volumes:
      - "dekanat_data:/firebird/data"
      - "./dekanat/restore:/firebird/restore"

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
  dekanat_data:
    driver: local
